{% include 'AceUserBundle:Registration:register_scripts.html.twig' %}

{% form_theme form theme %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	<div>
		{{ form_label(form.username) }}
		<div id = "register_username_id" class="control-group">
		{{ form_widget(form.username) }}
		</div>
		{{ form_errors(form.username) }}
		{{ form_label(form.email) }}
		<div id = "register_email_id" class="control-group">
		{{ form_widget(form.email) }}
		</div>
		{{ form_errors(form.email) }}
		{{ form_label(form.plainPassword.first) }}
		<div id = "register_password_id" class="control-group">
		{{ form_widget(form.plainPassword.first) }}
		</div>
		{{ form_label(form.plainPassword.second) }}
		<div id = "register_verification_id" class="control-group">
		{{ form_widget(form.plainPassword.second) }}
		</div>
		{{ form_errors(form.plainPassword) }}
		{{ form_errors(form) }}
		<p id="register_info_id">Hi! Why don't you sign up for a codebender account?<br /></p>
	</div>	
	<div style="display:none">
		{{form_rest(form)}}
	</div>
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
