<div class="row-fluid">
	<div class="span12">
	<!-- header -->
	<h2>Sign Up</h2>
	<p>Interested? Sign Up here and get coding in minutes.</p>
	</div><!--/span-->
	{% form_theme form theme %}
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
</div><!--/row-->
<div class="row-fluid">
	<div class="span6">
		<!-- left side -->
			{{ form_label(form.username) }}
			{{ form_widget(form.username) }}
			{{ form_label(form.email) }}
			{{ form_widget(form.email) }}
	</div><!--/span-->
	<div class="span6">
		<!-- right side -->
		{{ form_label(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first) }}
		{{ form_label(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second) }}
	</div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
	<div class="span12">
		<!-- bottom -->
		<div style="display:none">
		{{form_rest(form)}}
		</div>
		{{form_errors(form)}}
		<input type="submit" style="margin-bottom:10px;" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
	</form>
	</div><!--/span-->
</div><!--/row-->
