<script>

function update_username()
{
	$("#register_username_id").removeClass("error");
	$("#register_username_id").removeClass("success");
	if($("#fos_user_registration_form_username").val().length > 2)
		$.get("{{path('AceUserBundle_exists', {'username':''})}}"+ "/" + $("#fos_user_registration_form_username").val(), function (data)
		{
			if(data == "true")
			{
				$("#register_username_id").addClass("error");
				$("#register_info_id").text("We are sorry, this username is already taken.");
			}
			else
			{
				$("#register_username_id").addClass("success");
				$("#register_info_id").text("What a cool username!");
			}
		});
	else
	{
		$("#register_username_id").addClass("error");
		$("#register_info_id").text("Sorry, your username needs to be at least 3 digits long.");
	}
}

function update_email()
{
	$("#register_email_id").removeClass("error");
	$("#register_email_id").removeClass("success");

	var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	if(emailReg.test($("#fos_user_registration_form_email").val()))
	{
		$("#register_email_id").addClass("success");
		$("#register_info_id").text("Email Validated. Move along, move along...");
	}
	else
	{
		$("#register_email_id").addClass("error");
		$("#register_info_id").text("Please enter a valid email.");
	}
}

function update_password()
{
	$("#register_password_id").removeClass("error");
	$("#register_password_id").removeClass("success");
	if($("#fos_user_registration_form_plainPassword_first").val().length < 6)
	{
		$("#register_password_id").addClass("error");
		$("#register_info_id").text("Sorry, your password is too short. It needs to be at least 6 characters long.");
	}
	else if(!$("#fos_user_registration_form_plainPassword_first").val().match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])|(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&\/=?_.,:;\\-])|(?=.*[a-z])(?=.*[0-9])(?=.*[!@#$%&\/=?_.,:;\\-])|(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%&\/=?_.,:;\\-])$/))
	{
		$("#register_password_id").addClass("error");
		$("#register_info_id").text("Sorry, your password needs to use at least 3 of the 4 character sets (lowercase, uppercase, numerical, symbols).");
	}
	else
	{
		$("#register_info_id").text("Hooray! You've got a nice, strong and shiny password.");
		$("#register_password_id").addClass("success");
	}
}

function update_verification()
{
	$("#register_verification_id").removeClass("error");
	$("#register_verification_id").removeClass("success");
	if($("#fos_user_registration_form_plainPassword_first").val() == $("#fos_user_registration_form_plainPassword_second").val())
	{
		$("#register_verification_id").addClass("success");
		$("#register_info_id").text("Passwords matched. Commence Registration.");
	}
	else
	{
		$("#register_verification_id").addClass("error");
		$("#register_info_id").text("Your passwords do not match.");
	}
}

$(document).ready(function()
{
	$("#fos_user_registration_form_username").keyup(update_username);
	$("#fos_user_registration_form_username").change(update_username);
	$("#fos_user_registration_form_email").keyup(update_email);
	$("#fos_user_registration_form_email").change(update_email);
	$("#fos_user_registration_form_plainPassword_first").keyup(update_password);
	$("#fos_user_registration_form_plainPassword_first").change(update_password);
	$("#fos_user_registration_form_plainPassword_second").keyup(update_verification);
	$("#fos_user_registration_form_plainPassword_second").change(update_verification);
});
</script>

<div class="row-fluid">
	<div class="span12">
	<!-- header -->
	<h2>Sign Up</h2>
	<p>Interested? Sign Up here and get coding in minutes.</p>
	</div><!--/span-->
	{% form_theme form theme %}
	<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
</div><!--/row-->
<div class="row-fluid">
	<div class="span6">
		<!-- left side -->
			{{ form_label(form.username) }}
			<div id = "register_username_id" class="control-group">
			{{ form_widget(form.username) }}
			</div>
			{{ form_label(form.email) }}
			<div id = "register_email_id" class="control-group">
			{{ form_widget(form.email) }}
			</div>
	</div><!--/span-->
	<div class="span6">
		<!-- right side -->
		{{ form_label(form.plainPassword.first) }}
		<div id = "register_password_id" class="control-group">
		{{ form_widget(form.plainPassword.first) }}
	</div>
		{{ form_label(form.plainPassword.second) }}
		<div id = "register_verification_id" class="control-group">
		{{ form_widget(form.plainPassword.second) }}
		</div>
	</div><!--/span-->
</div><!--/row-->
<div class="row-fluid">
	<div class="span12">
		<!-- bottom -->
		<div style="display:none">
		{{form_rest(form)}}
		</div>
		<p id="register_info_id"><br/></p>
		{{form_errors(form)}}
		<input type="submit" style="margin-bottom:10px;" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
	</form>
	</div><!--/span-->
</div><!--/row-->
