<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block title %}codebender{% endblock %}</title>
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
		<style type="text/css">
		body
		{
		padding-top: 60px;
		padding-bottom: 40px;
		background: url({{ asset("blizzard.png")}});
		}
		</style>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css" rel="stylesheet">
		
		{# jQuery Upload Plugin #}

		<!-- Force latest IE rendering engine or ChromeFrame if installed -->
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->		
		<meta name="viewport" content="width=device-width">
		<!-- Bootstrap CSS Toolkit styles -->
		<!-- <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css"> -->
		<!-- Generic page styles -->
		<link rel="stylesheet" href='{{ asset("upload/css/style.css")}}'>
		<!-- Bootstrap styles for responsive website layout, supporting different screen sizes -->
		<!-- <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-responsive.min.css"> -->
		<!-- Bootstrap CSS fixes for IE6 -->
		<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
		<!-- Bootstrap Image Gallery styles -->
		<link rel="stylesheet" href="http://blueimp.github.com/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css">
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href='{{ asset("upload/css/jquery.fileupload-ui.css")}}'>
		<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->	

		<style type="text/css">
		#avatar
		{
			float: left;
			width:25px;
			height:25px;
			margin: -3px 5px 0 0;
			border-radius: 3px;
		}
		.nav li.dropdown ul.dropdown-menu li:HOVER ul {
		display:block; 
		position:absolute; 
		left:100%;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		}
		.nav li.dropdown ul.dropdown-menu ul {
		display: none;
		float:right;
		position: relative;
		top: auto;
		margin-top: -22px;
		}


		.nav li.dropdown ul.dropdown-menu ul::after
		{
			border-left:0px;
			border-right:0px;
		}

		.nav li.dropdown ul.dropdown-menu ul::before
		{
			border-left:0px;
			border-right:0px;
		}
		
		</style>
        {% block stylesheets %}{% endblock %}							
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script> 
		
		

<style type="text/css">

.slide-out-div {
	background: url('{{ asset("blizzard.png")}}');
	padding: 20px;
	width: 250px;
/*    border: 1px solid #29216d;*/

	line-height: 1em;
	position: fixed!important;
	height: 575px!important;
	top: 120px!important;
	left: -292px;
	background-color: #CC6D00;
	border-style: solid none solid solid;
	border-top-color: white;
	border-bottom-color: white;
	border-left-color: white;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 0px;
	-webkit-box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 1px 2px;
	box-shadow: rgba(255, 255, 255, 0.246094) 1px 1px 1px inset, rgba(0, 0, 0, 0.496094) 0px 1px 2px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 14px;
	font-family: Arial, sans-serif;
	right: 0px;
	z-index: 9999;
	margin-top: -60px;
	margin-right: 0px;
	display: block;
} 

.handle
{
	background-image: url(http://codebender.cc/images/indiegogo.png); 
	width: 32px;
	height: 127px;
	display: block;
	text-indent: -99999px;
	outline: none;
	position: absolute;
	top: 0%!important;
	right: -32px;
	background-position: initial initial;
	background-repeat: no-repeat no-repeat;
}     
</style>

	    {% block javascripts %}{% endblock %}
	
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-271766-15']);
		  _gaq.push(['_setDomainName', 'codebender.cc']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>				
		
    </head>
    <body {% block body_options %}{% endblock %}>
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </a>
		      <a class="brand" href="{{ path('AceGenericBundle_homepage')}}">{{ site_name }} (beta)</a>
		      <div class="nav-collapse">
		        <ul class="nav">		
					<li><form class="navbar-search pull-left" action="{{ path('AceSearchBundle_search')}}" method="get">
							<input type="text" name="query" class="search-query" placeholder="Search">
						</form>
					</li>
		        </ul>
				{% block examples %}
				{% endblock %}
				
				{% if not is_granted('ROLE_USER') %}
		        <ul class="nav pull-right">
				
					<li id="register">
				      	<a href="{{ path('fos_user_registration_register')}}">Register</a>
					</li>				
								
					<li id="login">
				      	<a href="{{ path('fos_user_security_login')}}">Log In</a>
					</li>
				</ul>
				{% endif %}		
				{% if is_granted('ROLE_USER') %}
				<ul class="nav pull-right">
				    <li><a href="{{ path('fos_user_security_logout')}}" id="logout">Log Out</a></li>
					{% render "AceTempBundle:Default:image" %}
				</ul>
				<p class="navbar-text pull-right">
					Logged in as <a href="{{path('AceGenericBundle_user',{'user':app.user.username})}}">{{ app.user.username }}</a>
				</p>
				{% endif %}
		      </div><!--/.nav-collapse -->
		    </div>
		  </div>
		</div>		
        {% block body %}{% endblock %}
		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>


		<!-- begin uservoice code -->
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
		    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
		    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/F9K3sHlqWGCRaHScnjWJ9g.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
		
		
		
		
		<!-- begin olark code --><script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
		window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
		/* custom configuration goes here (www.olark.com/documentation) */
		olark.identify('7078-297-10-7791');/*]]>{/literal}*/</script><noscript><a href="https://www.olark.com/site/7078-297-10-7791/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript><!-- end olark code -->
	
	<div class="modal hide fade" id="upModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&#215;</button>
    <h3>Add or drag your sketch here.</h3>
  </div>
  <div class="modal-body span6" id="upBody">
	<!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="{{ path('AceGenericBundle_upload') }}" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span6">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <!-- <span type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </span>
                <span type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </span> -->
                <!-- <span type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </span>
                <input type="checkbox" class="toggle"> -->
            </div>
            <!-- The global progress information -->
            <div class="span6 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
  </div> 
</div> 	  


{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
			 <td class="cancel"><button class="btn btn-warning"><i class="icon-ban-circle icon-white"></i><span>{%=locale.fileupload.cancel%}</span>
            </button>
        </td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <!-- <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>  -->
    </tr>
{% } %}
</script>

{% endraw %}

 <script type="text/javascript">
	
	(function() {$('#upModal').modal({
        backdrop: true,
        keyboard: true,		
		show: false
    }).css({
       'width': function () { 
           //return ($(document).width() * .35) + 'px';  
		   return '668px';		   
       },
       'margin-left': function () { 
           return -($(this).width() / 2); 
       }
});

$('#upBody').css({'width':'570px'});})();

		</script>  



<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" ></script> -->
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src='{{ asset("upload/js/vendor/jquery.ui.widget.js")}}'></script> 
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS and Bootstrap Image Gallery are not required, but included for the demo -->
<!-- <script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script> -->
<script src="http://blueimp.github.com/Bootstrap-Image-Gallery/js/bootstrap-image-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src='{{ asset("upload/js/jquery.iframe-transport.js")}}'></script>
<!-- The basic File Upload plugin -->
<script src='{{ asset("upload/js/jquery.fileupload.js")}}'></script>
<!-- The File Upload file processing plugin -->
<script src='{{ asset("upload/js/jquery.fileupload-fp.js")}}'></script>
<!-- The File Upload user interface plugin -->
<script src='{{ asset("upload/js/jquery.fileupload-ui.js")}}'></script>
<!-- The localization script -->
<script src='{{ asset("upload/js/locale.js")}}'></script>
<!-- The main application script -->
<script src='{{ asset("upload/js/main.js")}}'></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->


</body>

</html>
