<p>
	&copy; {{ site_name }} 2012
	<a href="{{ path('AceMiscBundle_blog') }}">Blog</a>
	<a href="{{ path('AceMiscBundle_about') }}">About</a>
	<a href="{{ path('AceMiscBundle_team') }}">The Team</a>
	<a href="{{ path('AceMiscBundle_tutorials') }}">Tutorials</a>
</p>