<p style="margin-bottom:40px; text-align:center;">
	<iframe allowtransparency="true" frameborder="0" scrolling="no"
	  src="//platform.twitter.com/widgets/follow_button.html?screen_name=codebender_cc&show_count=false"
	  style="width:160px; height:20px; margin-bottom:-5px;"></iframe>
	<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fcodebender.cc&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=276306429134783" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px; margin-bottom: -6px;" allowTransparency="true"></iframe>
	&copy; {{ site_name }} 2012
	<a href="{{ path('AceMiscBundle_blog') }}">Blog</a> |
	<a href="{{ path('AceMiscBundle_about') }}">About</a> |
	<a href="{{ path('AceMiscBundle_team') }}">The Team</a> |
	<a href="{{ path('AceMiscBundle_tutorials') }}">Tutorials</a> |
	<a href="https://github.com/codebendercc/" target="_new">Open Source</a> |
	<a href="https://github.com/codebendercc/codebender.cc/issues" target="_new">Report Bugs!</a> |
	<a href="http://codebender.uservoice.com/knowledgebase" target="_new">FAQ</a> |
	<a href={{ path('AceMiscBundle_contact') }}>Contact Us</a>
	- Icons by <a href="http://glyphicons.com/">Glyphicons</a>
</p>
