<p>
	&copy; {{ site_name }} 2012
	<a href="{{ path('AceMiscBundle_blog') }}">Blog</a>
	<a href="{{ path('AceMiscBundle_about') }}">About</a>
	<a href="{{ path('AceMiscBundle_team') }}">The Team</a>
	<a href="{{ path('AceMiscBundle_tutorials') }}">Tutorials</a>
	<a href="{{ path('AceMiscBundle_techspecs') }}">Tech Specs</a>
	<a href="https://github.com/codebendercc/codebender.cc/issues" target="_new">Report Bugs!</a>
	<a href="javascript:void()">FAQ</a>
	<a href={{ path('AceMiscBundle_contact') }}>Contact Us</a>
	- Icons by <a href="http://glyphicons.com/">Glyphicons</a>
</p>