<div class="hero-unit">
  <h1>enter the cloud. enter codebender.</h1>
  <p>Time to revolutionize the way you develop and hack on your projects. {{site_name}} is a platform that helps your next idea come to life. Wether you are a maker, a hardware hacker or an artist, {{ site_name }} allows you to code on the web, faster and easier, using our awesome web editor. Host your Arduino sketches on the cloud and use our next-gen compiler to build and debug your sketches from your browser. When you are done, upload them to your Arduino, straight from your browser. No installations required. <!--Give it a try, join the cloud today. --><strong>Coming soon. Stay tuned!</strong></p>
  <p><a class="btn btn-primary btn-large" href="{{ path('AceMiscBundle_about') }}">Learn more &raquo;</a></p>
</div>

{% if is_granted('ROLE_USER') == false %}
<div id="myCarousel" class="carousel slide well">
            <div class="carousel-inner">
              <div class="item">
                <img src="http://codebender.cc/images/load_example.png" alt="">
                <div class="carousel-caption">
                  <h4>Load Examples</h4>
                  <p>Load any of the bundled Arduino sketch examples, or any example bundled with your libraries, fast and easy, just as you're used to. Only a click away.</p>
                </div>
              </div>
              <div class="item active">
                <img src="http://codebender.cc/images/upload_sketch.png" alt="">
                <div class="carousel-caption">
                  <h4>Upload Sketch to Arduino</h4>
                  <p>After compilation, upload your sketch to your connected Arduino straight from your browser, without the need to install anything. Just select port, click Upload, kick back and relax.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://codebender.cc/images/cloud_compile.png" alt="">
                <div class="carousel-caption">
                  <h4>Cloud Compile</h4>
                  <p>Compile and check your sketch on our servers, using the latest version of the Arduino language, as well as the latest libraries. No more installations. No more updates. No more conflicts.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://codebender.cc/images/manage_sketches.png" alt="">
                <div class="carousel-caption">
                  <h4>Manage Sketches</h4>
                  <p>Manage your sketches with our project management page. Create and Edit a new Arduino sketch or Edit/Delete an existing one.</p>
                </div>
              </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
{% endif %}

<div class="row-fluid">
  <div class="span4">
    <h2>Code</h2>
    <p>{{ site_name }} uses Ace, an awesome web code editor written in pure HTML5 and Javascript, which is the best thing ever since sliced bread, at least as far as code editors go.  With advanced code indentation, syntax highlighting, and compilation error reporting, we think it's the best Arduino editor in the world. Oh, and of course, if it doesn't have Vim and EMACS keybindings it's not an editor.</p>
   {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
  <div class="span4">
    <h2>Compile</h2>
    <p>Compile your code, on the cloud. With {{ site_name }}, your code is compiled on our servers, saving you the hassle of downloading, installing, and maintaining the necessary tools to compile. No need to upgrade to newer versions and managing incompatible library versions. {{site_name}} also improves compilation time and with our next-gen compiler which give you improved error reporting, you can eliminate bugs in no time.</p>
    {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
  <div class="span4">
    <h2>Upload</h2>
    <p>Uploading (also known as flashing) your program on the Arduino has never been easier. When you are done coding, you can use {{ site_name }}'s Java Applet to give your browser access to you serial ports. This enables you to program your Arduino straight from your browser.<a href="javascript:void()" rel="tooltip" data-original-title="If you are using the Arduino Duemilanove, you're only going to need the FTDI drivers. If you are using the Arduino Uno, you're already set to go in Mac OS X and Linux, and you will only need to install drivers for Windows">No installations required*</a>. But why live in the past? With {{site_name}}, you will soon be able to program your Arduino &amp; Ethernet remotely, from anywhere in the world, straight from your browser.</p>
    {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
</div><!--/row-->
