<div class="hero-unit">
  <h1>Arduino, join the cloud.</h1>
  <p>{{ site_name }} allows you to code on the web, using an awesome HTML editor, faster and easier than you ever did before. With advanced code indentation, syntax highlighting, and compilation error reporting, its goal is to be the best Arduino editor in the world. Give it a try. Join the cloud today.</p>
  <p><a class="btn btn-primary btn-large" href="{{ path('AceMiscBundle_about') }}">Learn more &raquo;</a></p>
</div>

{% if is_granted('ROLE_USER') %}
{% else %}
<div id="myCarousel" class="carousel slide well">
            <div class="carousel-inner">
              <div class="item">
                <img src="http://codebender.cc/images/load_example.png" alt="">
                <div class="carousel-caption">
                  <h4>Load Examples</h4>
                  <p>Load any of the bundled Arduino sketch examples, or any example bundled with your libraries, fast and easy, just as you're used to. Only a click away.</p>
                </div>
              </div>
              <div class="item active">
                <img src="http://codebender.cc/images/upload_sketch.png" alt="">
                <div class="carousel-caption">
                  <h4>Upload Sketch to Arduino</h4>
                  <p>After compilation, upload your sketch to your connected Arduino straight from your browser, without the need to install anything. Just select port, click Upload, kick back and relax.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://codebender.cc/images/cloud_compile.png" alt="">
                <div class="carousel-caption">
                  <h4>Cloud Compile</h4>
                  <p>Compile and check your sketch on our servers, using the latest version of the Arduino language, as well as the latest libraries. No more installations. No more updates. No more conflicts.</p>
                </div>
              </div>
              <div class="item">
                <img src="http://codebender.cc/images/manage_sketches.png" alt="">
                <div class="carousel-caption">
                  <h4>Manage Sketches</h4>
                  <p>Manage your sketches with our project management page. Create and Edit a new Arduino sketch or Edit/Delete an existing one.</p>
                </div>
              </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
{% endif %}

<div class="row-fluid">
  <div class="span4">
    <h2>Code</h2>
    <p>{{ site_name }} uses Ace, an awesome web code editor written in pure HTML5 and Javascript, which is the best thing ever since sliced bread, at least as far as code editors go. Use it now and enjoy indentation that just works™, great syntax highlighting, auto-completion, highlighting of matching parentheses and brackets and highlighting of a selected keyword. Oh, and of course, you can't call it an editor if it doesn't have Vim and EMACS keybindings. Built-in.</p>
   {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
  <div class="span4">
    <h2>Compile</h2>
    <p>Compile your code, on the cloud. With {{ site_name }}, you can compile your code on our servers, saving you the hassle of downloading and installing the necessary tools to compile. No more upgrading to newer versions and managing incompatible library versions. It also improves compilation times in old machines, simplifies checking for syntax errors in your program and with improved reporting on the faulty lines of code, you can find and squash bugs in no time.</p>
    {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
  <div class="span4">
    <h2>Built-in Libraries</h2>
    <p>Never mind about finding, installing, and updating external libraries anymore. With {{ site_name }}, you only need to include the library you want to use, and we automatically compile it with your code. And we also take care of updating them when a new version is released. All just for you. Stop worrying about libraries, and start coding your Arduino. That autonomous space BBQ laser grill isn't going to build itself, you know.</p>
    {# <p><a class="btn" href="javascript:void(0)">View details &raquo;</a></p> #}
  </div><!--/span-->
</div><!--/row-->
{#
<div class="row-fluid">
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
#}
