<div class="row-fluid">
	<div class="span3">
		<h2>Wyolum</h2>
		<p>WyoLum is a partnership of Open Source enthusiasts collaborating on cool products.</p>
		<p>We want to take DoItYourself to the next level of efficiency by creating a collaboration platform where guerrilla engineering-and-design teams can emerge for the duration of a project, solve a problem, disband and move on to the next project with the main goal of having fun in learning and developing as many cool and interesting projects as we can.</p>
		<p><a href="http://wyolum.com/"><img src={{asset("images/wyolum.png")}}></a></p>
	</div>
	<div class="span3">
		<h2>Agile Hardware</h2>
		<p>Lorem Ipsum Dolor Sit Amet.</p>
		<p>We have even divided {{site_name}} in smaller pieces, so that you can use only the ones you want. You can use the site's software, the web compiler, the Ariadne bootloader, as well as the Arduino programming Java Applet independently if you want. Take a look at our <a href="https://github.com/codebendercc" target="_new">GitHub page.</a></p>
		<!-- <p><a href=""><img src={{asset("images/fablabbcn_web.jpg")}}></a></p> -->
	</div>
	<div class="span3">
		<h2>Arrowhead Systems</h2>
		<p>Lorem Ipsum Dolor Sit Amet.</p>
		<p>We have started a <a href="http://igg.me/p/155075?a=803683" target="_new">campaign</a> on Indiegogo to cover our operation costs for the first year. We want codebender to be free for everyone to use, without fees of subscriptions! That's why we need you to support us. Help us cover our hosting and operating costs for the first year and be among the first to get a codebender account!</p>
		<!-- <p><a href="http://tiouk.com"><img src={{asset("images/fablabbcn_web.jpg")}}></a></p> -->
	</div>
	<div class="span3">
		<h2>Fab Lab Barcelona</h2>
		<p>Fab Lab Barcelona is one of the leading laboratories worldwide network of Fab Labs, production workshops and innovation on a small scale equipped with digital fabrication machines and technologies for the production of objects, tools and electronics. Fab Labs explore the relationship between the digital and physical world.</p>
<p>Fab Lab Barcelona has produced projects like Hyperhabitat IAAC and the Fab Lab House. It is currently developing projects in different scales, from smart devices for data collection by individuals (Smart City) to the new production models for cities (FabCity).</p>
		<p><a href="http://fablabbcn.org/"><img src={{asset("images/fablabbcn_web.jpg")}}></a></p>
	</div>
</div>
