<div id="myCarousel" class="carousel slide well">
	<div class="carousel-inner">
		<div class="item active">
			<img src="{{asset("images/carousel/project_management.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Project Management</h4>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/error_output.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Actually Helpful Error Output</h4>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/flashing.png")}}" alt="">
			<div class="carousel-caption">
				<h4>USB and Network Arduino Flashing</h4>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/code_folding.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Awesome Editor. Really</h4>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/project_info.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Project Info</h4>
				<p>Your project is not just code. Link additional data to it and bring it to life.</p>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/project_operations.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Easy to Use</h4>
				<p>Save. Verify. Flash. It can't get easier. No more installations. No more updates. No more conflicts.</p>
			</div>
		</div>
		<div class="item">
			<img src="{{asset("images/carousel/multi_file_projects.png")}}" alt="">
			<div class="carousel-caption">
				<h4>Multiple Files and Platforms</h4>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
