<div class="row-fluid">
	<div class="span4">
		<h2>Code</h2>
		<p>Use {{ site_name }} to code faster and easier. It's completely web-based, so you can start coding right from the beginning, no installations required. It also gives you access to a variety of developer tools, which enable you to write more viewable code with less bugs, and find the documentation you need to develop your sketches easier.
	</div><!--/span-->
	<div class="span4">
		<h2>Compile</h2>
		<p>With {{ site_name }}, your code is compiled on the cloud, which improves compilation time and saves you the hassle of downloading, installing, and updating all the necessary tools to compile. No need to update and manage incompatible library versions either! {{site_name}} also helps you eliminate bugs faster by providing improved error reporting!</p>
	</div><!--/span-->
	<div class="span4">
		<h2>Flashing</h2>
		<p>Flashing (aka uploading) your program on the Arduino has never been easier. When you are done coding, you can program your Arduino straight from your browser.<a href="javascript:void()" rel="tooltip" data-original-title="If you are using the Arduino Duemilanove, you'll need the FTDI drivers. If you are using the Arduino Uno, you're already set to go in Mac OS X and Linux, and you will only need to install drivers for Windows"> No installations required*</a>. But it gets better. With {{site_name}}, you can program your Arduino Ethernet or Arduino /w Ethernet Shield remotely, from anywhere in the world, straight from the browser.</p>
	</div><!--/span-->
</div><!--/row-->

<hr class="soften">

<div class="row-fluid">
	<div class="span6">
		<h2>Donate!</h2>
		<p>Do you like the idea? We need your support. Please consider donating!</p>
	</div>
	<div class="span6">
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="float:right;margin-top: 30px;">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="EJCNGL73TNKSG">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" style="width:147px;" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</div>
	<!-- <div class="span4">
		<h2>Open Source</h2>
		<p>We absolutely love open source and we deeply believe in the FOSS philosophy. We think it's the way to go for not only software, but hardware, and other aspects of our lives as well. That's why {{site_name}} is completely open source.</p>
		<p>We have even divided {{site_name}} in smaller pieces, so that you can use only the ones you want. You can use the site's software, the web compiler, the Ariadne bootloader, as well as the Arduino programming Java Applet independently if you want. Take a look at our <a href="https://github.com/codebendercc" target="_new">GitHub page.</a></p>
	</div> -->
</div>
