{% extends '::container.html.twig' %}

{% block javascripts_upload_head %}
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">
		<!-- Generic page styles -->
		<link rel="stylesheet" href='{{ asset("upload/css/style.css")}}'>
		<!-- Bootstrap CSS fixes for IE6 -->
		<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
		<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
		<link rel="stylesheet" href='{{ asset("upload/css/jquery.fileupload-ui.css")}}'>
{% endblock %}

{% block mainspan %}

<div class="row-fluid">
	<div class="span12">
		<h2>Hello {{ name }}!</h2>
		<h4>New Project</h4>
		<form class="form-search" method='post' action='{{ path('AceUtilitiesBundle_newproject')}}'>
			<input type="text" name='project_name' class="search-query">
			<button type="submit" class="btn">Create new project</button>
		</form>
		<a data-toggle="modal" href="#upModal"><i class="icon-upload"></i> Upload Sketch</a>
	</div>
</div>


<div class="modal hide fade" id="upModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&#215;</button>
    <h3 style="font-size: 18px; line-height: 27px;">Add or drag your sketch here.</h3>
  </div>
  <div class="modal-body span6" id="upBody" style="margin-left:10px;">
	<!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="{{ path('AceUtilitiesBundle_upload') }}" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar" style="margin-left:0px;">
            <div class="span5">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
            </div>
            <!-- The global progress information -->
            <div class="span7 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
  </div> 
</div>

{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
			 <td class="cancel"><button class="btn btn-warning"><i class="icon-ban-circle icon-white"></i><span>{%=locale.fileupload.cancel%}</span>
            </button>
        </td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <!-- <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>  -->
    </tr>
{% } %}
</script>

{% endraw %}


{% include 'AceGenericBundle:Index:features.html.twig' %}


{% endblock %}


{% block javascripts_upload_bottom %}

<script type="text/javascript">

	(function() {$('#upModal').modal({
        backdrop: true,
        keyboard: true,
		show: false
    }).css({
       'width': function () {
           //return ($(document).width() * .35) + 'px';
		   return '700px';   //668px
       },
       'margin-left': function () {
           return -($(this).width() / 2);
       }
});

$('#upBody').css({'width':'680px'});})();   //570px
</script>

<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<!-- The Templates plugin is included to render the upload/download listings -->
		<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
		<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
		<script src='{{ asset("upload/js/jquery.iframe-transport.js")}}'></script>
		<!-- The basic File Upload plugin -->
		<script src='{{ asset("upload/js/jquery.fileupload.js")}}'></script>
		<!-- The File Upload file processing plugin -->
		<script src='{{ asset("upload/js/jquery.fileupload-fp.js")}}'></script>
		<!-- The File Upload user interface plugin -->
		<script src='{{ asset("upload/js/jquery.fileupload-ui.js")}}'></script>
		<!-- The localization script -->
		<script src='{{ asset("upload/js/locale.js")}}'></script>
		<!-- The main application script -->
		<script src='{{ asset("upload/js/main.js")}}'></script>
		<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
		<!--[if gte IE 8]><script src="js/cors/jquery.xdr-transport.js"></script><![endif]-->
{% endblock %}
