{% extends 'AceEditorBundle:Default:container.html.twig' %}
{% block title %}
About {{ site_name }}
{% endblock %}
{% block mainspan %}
<style type="text/css">
.bs-icon, .small-bs-icon
{
	float: left;
	margin: 7px 10px 0 0;
	opacity: .8;
}
</style>
<h1>{{site_name}} <small>so what&#39;s the deal?</small></h1>
<div class="marketing">
	{{site_name}} is the next step to the maker revolution. Our aim is to provide all the necessary tools to help engineers and makers develop their awesome gadgets and mega-constructions.

	<hr class="soften">
	<div class="row-fluid">
		<div class="span4">
		<img class="bs-icon" src="http://twitter.github.com/bootstrap/assets/img/glyphicons/glyphicons_042_group.png">
	    <h2>Code</h2>
	    <p>{{ site_name }} uses Ace, an awesome web code editor written in pure HTML5 and Javascript, which is the best thing ever since sliced bread, at least as far as code editors go. Use it now and enjoy indentation that just works™, great syntax highlighting, auto-completion, highlighting of matching parentheses and brackets and highlighting of a selected keyword. Oh, and of course, you can't call it an editor if it doesn't have Vim and EMACS keybindings. Built-in.</p>
	  </div><!--/span-->
	  <div class="span4">
		<img class="bs-icon" src="http://twitter.github.com/bootstrap/assets/img/glyphicons/glyphicons_079_podium.png">
	    <h2>Compile</h2>
	    <p>Compile your code, on the cloud. With {{ site_name }}, you can compile your code on our servers, saving you the hassle of downloading and installing the necessary tools to compile. No more upgrading to newer versions and managing incompatible library versions. It also improves compilation times in old machines, simplifies checking for syntax errors in your program and with improved reporting on the faulty lines of code, you can find and squash bugs in no time.</p>
	  </div><!--/span-->
	  <div class="span4">
		<img class="bs-icon" src="http://twitter.github.com/bootstrap/assets/img/glyphicons/glyphicons_163_iphone.png">
	    <h2>Built-in Libraries</h2>
	    <p>Never mind about finding, installing, and updating external libraries anymore. With {{ site_name }}, you only need to include the library you want to use, and we automatically compile it with your code. And we also take care of updating them when a new version is released. All just for you. Stop worrying about libraries, and start coding your Arduino. That autonomous space BBQ laser grill isn't going to build itself, you know.</p>
	  </div><!--/span-->
	</div><!--/row-->
	<div class="row-fluid">
		<div class="span4">
	    <h2>Code</h2>
	    <p>{{ site_name }} uses Ace, an awesome web code editor written in pure HTML5 and Javascript, which is the best thing ever since sliced bread, at least as far as code editors go. Use it now and enjoy indentation that just works™, great syntax highlighting, auto-completion, highlighting of matching parentheses and brackets and highlighting of a selected keyword. Oh, and of course, you can't call it an editor if it doesn't have Vim and EMACS keybindings. Built-in.</p>
	  </div><!--/span-->
	  <div class="span4">
	    <h2>Compile</h2>
	    <p>Compile your code, on the cloud. With {{ site_name }}, you can compile your code on our servers, saving you the hassle of downloading and installing the necessary tools to compile. No more upgrading to newer versions and managing incompatible library versions. It also improves compilation times in old machines, simplifies checking for syntax errors in your program and with improved reporting on the faulty lines of code, you can find and squash bugs in no time.</p>
	  </div><!--/span-->
	  <div class="span4">
	    <h2>Built-in Libraries</h2>
	    <p>Never mind about finding, installing, and updating external libraries anymore. With {{ site_name }}, you only need to include the library you want to use, and we automatically compile it with your code. And we also take care of updating them when a new version is released. All just for you. Stop worrying about libraries, and start coding your Arduino. That autonomous space BBQ laser grill isn't going to build itself, you know.</p>
	  </div><!--/span-->
	</div><!--/row-->
	<div class="row-fluid">
		<div class="span4">
	    <h2>Code</h2>
	    <p>{{ site_name }} uses Ace, an awesome web code editor written in pure HTML5 and Javascript, which is the best thing ever since sliced bread, at least as far as code editors go. Use it now and enjoy indentation that just works™, great syntax highlighting, auto-completion, highlighting of matching parentheses and brackets and highlighting of a selected keyword. Oh, and of course, you can't call it an editor if it doesn't have Vim and EMACS keybindings. Built-in.</p>
	  </div><!--/span-->
	  <div class="span4">
	    <h2>Compile</h2>
	    <p>Compile your code, on the cloud. With {{ site_name }}, you can compile your code on our servers, saving you the hassle of downloading and installing the necessary tools to compile. No more upgrading to newer versions and managing incompatible library versions. It also improves compilation times in old machines, simplifies checking for syntax errors in your program and with improved reporting on the faulty lines of code, you can find and squash bugs in no time.</p>
	  </div><!--/span-->
	  <div class="span4">
	    <h2>Built-in Libraries</h2>
	    <p>Never mind about finding, installing, and updating external libraries anymore. With {{ site_name }}, you only need to include the library you want to use, and we automatically compile it with your code. And we also take care of updating them when a new version is released. All just for you. Stop worrying about libraries, and start coding your Arduino. That autonomous space BBQ laser grill isn't going to build itself, you know.</p>
	  </div><!--/span-->
	</div><!--/row-->
	<div class="row-fluid">
		<div class="span3">
			<img class="small-bs-icon" src="http://twitter.github.com/bootstrap/assets/img/icon-html5.png">
			<h3>HTML5</h3>
			<p>Built to support new HTML5 elements and syntax.</p>
		</div>
		<div class="span3">
			<img class="small-bs-icon" src="http://twitter.github.com/bootstrap/assets/img/icon-css3.png">
			<h3>CSS3</h3>
			<p>Progressively enhanced components for ultimate style.</p>
		</div>
		<div class="span3">
			<img class="small-bs-icon" src="http://twitter.github.com/bootstrap/assets/img/icon-github.png">
			<h3>Open-source</h3>
			<p>Built for and maintained by the community via <a href="https://github.com">GitHub</a>.</p>
		</div>
		<div class="span3">
			<img class="small-bs-icon" src="http://twitter.github.com/bootstrap/assets/img/icon-twitter.png">
			<h3>Made at Twitter</h3>
			<p>Brought to you by an experienced <a href="http://twitter.com/fat">engineer</a> and <a href="http://twitter.com/mdo">designer</a>.</p>
		</div>
	</div><!--/row-->

	<hr class="soften">
</div>
{% endblock %}

