<script type="text/javascript">
$(document).ready(function()
{
	$('.project_link').popover();
});
</script>
<div class="well sidebar-nav">
<ul class="nav nav-list" id="nav-list">
	<li class="nav-header">New Project</li>
	<li>
	<form class="form-search" method='post' action='{{ path('AceUtilitiesBundle_newproject')}}'>
		<input type="text" name='project_name' class="input-medium search-query">
		<button type="submit" class="btn" style="width:100%; margin-top: 5px;">Create new project</button>
	</form>
	</li>
	<li><a data-toggle="modal" href="#upModal"><i class="icon-upload"></i> Upload Sketch</a></li>
     <li class="nav-header">Projects</li>
   	{% if files%}
	    {% for file in files %}
	        <li>
				<a rel="popover" data-delay=1500 class="project_link" data-trigger="hover" data-html="true" data-placement="right" data-content="
<h6>Description:</h6>
<p>{% render "AceUtilitiesBundle:Default:getDescription" with {'id':file['id']} %}</p>
<hr>
<p><a class='btn btn-danger' href='{{ path('AceUtilitiesBundle_deleteproject', {'id':file['id']}) }}'>Delete Project (Permanently)</a></p>"
				data-original-title="{{ file['name'] }}" href="{{ path('AceGenericBundle_project', { 'id': file['id'] }) }}">
					{{ file['name'] }}
				</a>
			</li>
	    {% endfor %}
	{% endif %}	
     <!-- <li class="active"><a href="#">Link</a></li> -->
	<li class="nav-header" id="Links">Links</li>
	<li><a href="{{ path('AceGenericBundle_libraries') }}"><i class="icon-book"></i>External Libraries</a></li>
	<li><a href="{{ path('AceGenericBundle_boards') }}"><i class="icon-hdd"></i>Supported Boards</a></li>
	<li><a href="{{ path('AceTempBundle_options') }}"><i class="icon-cog"></i>Options</a></li>		
</ul>
</div>
