<script type="text/javascript">
$(document).ready(function()
{
	$('.project_link').popover();
});

function warnDeleteProject(deletion_path)
{
	$("#deleteProjectButton").attr("href", deletion_path);
	$("#deleteProjectModal").modal("show");
}
</script>
<div class="well">
<ul class="nav nav-list" id="nav-list">
    <li><a href="{{ path('AceGenericBundle_index') }}"><i class="icon-home"></i>Home</a></li>
     <li class="nav-header">Projects</li>
   	{% if files%}
	    {% for file in files %}
	        <li>
				<a rel="popover" data-delay=1500 class="project_link" data-trigger="hover" data-html="true" data-placement="right" data-content="
<h6>Description:</h6>
<p>{% render "AceUtilitiesBundle:Default:getDescription" with {'id':file['id']} %}</p>
<h6>Files:</h6>
<p>{% render "AceUtilitiesBundle:Default:listFilenames" with {'id':file['id'], 'show_ino':1} %}</p>
<hr>
<p><a class='btn btn-danger' href='javascript:void()' onClick='warnDeleteProject(&quot;{{ path('AceUtilitiesBundle_deleteproject', {'id':file['id']}) }}&quot;);' style='margin-bottom:5px'>Delete Project</a></p>
<p><a class='btn btn-primary' href='{{ path('AceUtilitiesBundle_download', { 'id' : file['id'] }) }}'><i class='icon-download-alt icon-white'></i> Download Project</a></p>"
				data-original-title="{{ file['name'] }}" href="{{ path('AceGenericBundle_project', { 'id': file['id'] }) }}">
					{{ file['name'] }}
				</a>
			</li>
	    {% endfor %}
	{% endif %}	
     <!-- <li class="active"><a href="#">Link</a></li> -->
	<li class="nav-header" id="Links">Links</li>
	<li><a href="{{ path('AceGenericBundle_libraries') }}"><i class="icon-book"></i>Examples &amp; Libraries</a></li>
	<li><a href="{{ path('AceGenericBundle_boards') }}"><i class="icon-hdd"></i>Supported Boards</a></li>
	<li><a href="{{ path('AceUserBundle_options') }}"><i class="icon-user"></i>My Profile</a></li>
	<li><a href="{{ path('AceStaticBundle_tutorials') }}"><i class="icon-facetime-video"></i>Tutorials</a></li>
</ul>
</div>

<div class="modal hide fade" id="deleteProjectModal">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&#215;</button>
    <h3>Are you sure you want to delete your sketch?</h3>
  </div>
  <div class="modal-body">
    <p>Deleting your sketch is going to destroy all of its data. This action is irreversible. If you chose to delete your project, all the files associated with it are going to be destroyed and the data will be irrecoverable. You <strong>WILL BE UNABLE</strong> to back up your files.</p>
  </div>
  <div class="modal-footer">
    <a data-dismiss="modal" class="btn">Cancel</a>
    <a id="deleteProjectButton" href="" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete!</a>
  </div>
</div>
